{% extends "risk_sensitive_foraging/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        Thank you for your time and effort and for participating in our study. <u>Please do not close this page.</u>
    </p>

    <h3>Your payment</h3>
    <p>
        Your total payment (including your bonus) equals {{ payment }}. You will be paid within 2-3 days after completing this study.
    </p>


    <h3>Please wait. You will be redirected in 10 seconds</h3>
    <p>
        Please wait, you will be redirected to Prolific Academic now to completed this study.
    </p>
    <p class = 'hidden' id = 'id_redirect'><b>
        (If the re-rirect does not work, please <a href = 'https://app.prolific.ac/submissions/complete?cc=YZ7SCG7Q'>click here</a>.)</b>
    </p>

   <!--<div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Please remain seated until your number is called. Then take your number card, and proceed to the cashier.</p>
            <p><em>Note: For the cashier in the laboratory, oTree can print a list of payments for all participants as a PDF.</em></p>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Classroom:</strong></p>
            <p><em>If you want to keep track of how students did, the easiest thing is to assign the starting links to students by name.
                It is even possible to give each student a single permanent link for a whole semester using Rooms;
                so no need to waste time in each lecture with handing out new links and keeping track of which student uses which link.
                Alternatively, you may just give
                students anonymous links or secret nicknames.</em>
            </p>
        </div>
    </div> -->


{% endblock %}

{% block scripts %}
  <script>
      setTimeout(function () {
        window.location.href="https://app.prolific.ac/submissions/complete?cc=YZ7SCG7Q";
        $('#id_redirect').fadeIn(6000);
      }, 10000);

  </script>
{% endblock %}



