.bg-sprite_9_30_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -10px;
}


.bg-sprite_9_30_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -1252px;
}


.bg-sprite_9_50_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -217px;
}


.bg-sprite_9_50_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -217px;
}


.bg-sprite_9_70_6_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -424px;
}


.bg-sprite_9_70_6_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -424px;
}


.bg-sprite_9_80_8_20_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -10px;
}


.bg-sprite_9_80_8_20_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -217px;
}


.bg-sprite_10_10_4_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -424px;
}


.bg-sprite_10_10_4_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -631px;
}


.bg-sprite_10_20_1_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -631px;
}


.bg-sprite_10_20_1_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -631px;
}


.bg-sprite_10_20_2_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -10px;
}


.bg-sprite_10_20_2_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -217px;
}


.bg-sprite_10_70_6_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -424px;
}


.bg-sprite_10_70_6_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -631px;
}


.bg-sprite_10_90_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -838px;
}


.bg-sprite_10_90_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -838px;
}


.bg-sprite_0_50_3_50_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -838px;
}


.bg-sprite_0_50_3_50_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -838px;
}


.bg-sprite_0_50_4_50_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -1045px;
}


.bg-sprite_0_50_4_50_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -1045px;
}


.bg-sprite_0_80_2_20_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -1045px;
}


.bg-sprite_0_80_2_20_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -1045px;
}


.bg-sprite_1_50_2_50_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -10px;
}


.bg-sprite_1_50_2_50_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -217px;
}


.bg-sprite_1_70_2_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -424px;
}


.bg-sprite_1_70_2_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -631px;
}


.bg-sprite_1_80_0_20_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -838px;
}


.bg-sprite_1_80_0_20_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -1045px;
}


.bg-sprite_2_70_0_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -1252px;
}


.bg-sprite_2_70_0_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -1252px;
}


.bg-sprite_3_90_0_10_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-sprite_3_90_0_10_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -1252px;
}


.bg-sprite_3_90_1_10_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -1252px;
}


.bg-sprite_3_90_1_10_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -10px;
}


.bg-sprite_4_70_2_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -217px;
}


.bg-sprite_4_70_2_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -424px;
}


.bg-sprite_5_60_4_40_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -631px;
}


.bg-sprite_5_60_4_40_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -838px;
}


.bg-sprite_5_70_4_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -1045px;
}


.bg-sprite_5_70_4_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -1252px;
}


.bg-sprite_5_90_0_10_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -1459px;
}


.bg-sprite_5_90_0_10_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -1459px;
}


.bg-sprite_5_90_1_10_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -1459px;
}


.bg-sprite_5_90_1_10_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -1459px;
}


.bg-sprite_6_20_1_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -1459px;
}


.bg-sprite_6_20_1_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -1459px;
}


.bg-sprite_6_70_4_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -1666px;
}


.bg-sprite_6_70_4_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -330px -1666px;
}


.bg-sprite_6_90_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -650px -1666px;
}


.bg-sprite_6_90_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -970px -1666px;
}


.bg-sprite_7_10_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1290px -1666px;
}


.bg-sprite_7_10_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1610px -1666px;
}


.bg-sprite_7_10_3_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -10px;
}


.bg-sprite_7_10_3_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -217px;
}


.bg-sprite_7_30_3_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -424px;
}


.bg-sprite_7_30_3_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -631px;
}


.bg-sprite_7_70_2_30_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -838px;
}


.bg-sprite_7_70_2_30_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -1045px;
}


.bg-sprite_8_10_0_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -1252px;
}


.bg-sprite_8_10_0_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -1459px;
}


.bg-sprite_9_20_1_70_minprisdark0 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -1930px -1666px;
}


.bg-sprite_9_20_1_70_minprisdark1 {
    width: 300px; height: 187px;
    background: url('css_sprites.png') -10px -1873px;
}