{% extends "risk_sensitive_foraging/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block content %}
  <div class='dialogue round-edge center-me-h'>
    <div class = 'center-me-hv fs2'>
      <p>{% blocktrans trimmed %}
      Neue Situation
      {% endblocktrans %}</p>
    </div>
  </div>
  <div class = "row1 parent center-children">
    <div class = 'center-children flex-row-flex-start center-me-h'>
      <div class = "chart-icon"><i class="far fa-2x fa-clock center-me-v"></i></div>
      <div class="chart-trial" id = "chart-trial"></div>
    </div>
  </div>

  <div class = "row parent center-children">
    <div class = 'center-children flex-row-flex-start center-me-h'>
      <div class = "chart-icon"><i class="fas fa-signal fa-2x center-me-v"></i></div>
      <div class="chart-earnings" id="chart-earnings"></div>
    </div>
  </div>

  <div class = "row parent flex-row">
    <button name="choice" value="0" class="option rsft-btn-choices">
      <span class = "rsft-span-choices">
        <div id = "option1">
        </div>
      </span>
    </button>
      
    <button name="choice" value="1" class="option rsft-btn-choices">
      <span class = "rsft-span-choices">
        <div id = "option2">
        </div>
      </span>
    </button>
  </div>
  </div>

  <span class = 'hidden'>{% next_button %}</span>

{% endblock %}

{% block scripts %}
  <script>

  $('.option').attr('name', 'choice' + {{ player.state }} );

  var draw = function() {
    drawTrial('chart-trial', true, {{ trial }}, {{ Constants.num_trials }}, '');
    drawEarnings('chart-earnings', {{ player.state|json }}, {{ player.budget|json }}, {{ max_less_state|json }}, {{ max_earning|json }}, true, true, {{ Constants.point_label|json }});
    drawAction('option1', {{ x1|json }}, {{ p1|json }}, true, true, {{ Constants.point_label|json }}, {{ Constants.action_label|json }} +" A");
    drawAction('option2', {{ x2|json }}, {{ p2|json }}, true, true, {{ Constants.point_label|json }}, {{ Constants.action_label|json }} + " B");    
  };

  $( document ).ready(function() {
    setTimeout(function() { draw() }, 750);
    $('.dialogue').fadeIn(500).fadeOut(600);
  });


  </script>
{% endblock %}
