{% extends "risk_sensitive_foraging/Page.html" %}
{% load otree %}
{% load otree static %}
{% load i18n %}

{% block title %}
    <h1>{% blocktrans trimmed %}Bonuszahlung{% endblocktrans %}</h1>
{% endblock %}


{% block content %}

  <p> {% blocktrans with fee=participation_fee %}
    Nach Beendigung der Studie erhalten Sie {{ fee }} und zusätzlich eine <b>Bonuszahlung</b>, die von Ihren Entscheidungen abhängt
  {% endblocktrans %}</p>

  <p> {% blocktrans with rwc_pp=real_world_currency_per_point %}
    Sie erhalten für fünf der nachfolgenden Runden einen Bonus. Jeder Punkt, den Sie sammeln, ist <b>+&nbsp;{{ rwc_pp }} </b> wert. Jedoch erhalten Sie den Bonus nur für Runden in denen Sie <b>das Ziel erreicht haben</b>, für Runden in denen Sie das Ziel nicht erreichen gibt es keinen Bonus. Die fünf Runden, die Ihren Bonus bestimmen, werden am Ende des Experimentes zufällig aus allen Runden gewählt. 
  {% endblocktrans %}</p>

  <p class = 'example'>
  {% blocktrans with example_pay=example_pay rwc_pp=real_world_currency_per_point%}
    Ihr Punkteziel ist 8 Punkte, Sie haben nach der fünften Entscheidung 12 Punkte gesammelt, dann ist der Bonus für diese Runde {{ example_pay }} wenn diese Runde zu den fünf Runden gehört die am Ende als Bonus gewählt werden. Das bedeutet {{ rwc_pp }} x 12, da Sie 12 Punkte gesammelt haben.
   {% endblocktrans %}
  </p>



  <h3>
  {% blocktrans trimmed %}Bitte beantworten Sie diese Verständnisfragen richtig:{% endblocktrans %}
  </h3>

  <form id = "check">
    <fieldset class = "rsft-form">
    <legend>{% blocktrans trimmed %} 
      Wie hoch ist Ihr Bonus für eine Runde mit ...
    {% endblocktrans %}</legend>
    <p>
      <label for="q1">  {% blocktrans trimmed %}... einem Punkteziel von 5, wenn Sie 4 Punkte gesammelt haben? {% endblocktrans %}</label>
      <input id="q1" name="q1" min="0" max="10" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" required placeholder={% blocktrans trimmed %}"Zahl"{% endblocktrans %} onfocus="if (this.placeholder=={% blocktrans trimmed %}"Zahl"{% endblocktrans %}) this.placeholder='';">
    </p>
    <p>
      <label for="q2">{% blocktrans trimmed %}... einem Punkteziel von 5, wenn Sie 5 Punkte gesammelt haben? {% endblocktrans %}</label>
      <input id="q2" name="q2" min="0" max="10" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" required placeholder={% blocktrans trimmed %}"Zahl"{% endblocktrans %} onfocus="if (this.placeholder=={% blocktrans trimmed %}"Zahl"{% endblocktrans %}) this.placeholder='';">
    </p>
    <p>
      <label for="q3">{% blocktrans trimmed %}... einem Punkteziel von 5, wenn Sie 7 Punkte gesammelt haben? {% endblocktrans %}</label>
      <input id="q3" name="q3" min="0" max="10" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" required placeholder={% blocktrans trimmed %}"Zahl"{% endblocktrans %} onfocus="if (this.placeholder=={% blocktrans trimmed %}"Zahl"{% endblocktrans %}) this.placeholder='';">
    </p>
    <p>
      <label for="q4">{% blocktrans trimmed %} Welche der nachfolgenden Runden sind relevant für Ihren Bonus? {% endblocktrans %}</label>
      <input id="q4" name="q4" type="radio" value="1" /> {% blocktrans trimmed %}Die ersten fünf Runden sind relevant.{% endblocktrans %} </br>
      <input id="q4" name="q4" type="radio" value="2"/> {% blocktrans trimmed %}Die letzten fünf Runden sind relevant.{% endblocktrans %}</br>
      <input id="q4" name="q4" type="radio" value="3" /> {% blocktrans trimmed %}Jede Runde ist relevant: es werden fünf Runden zufällig gezogen.{% endblocktrans %}</br>
    </p>
    </fieldset>
  


  <div class = "right">
    <button id = "submitcheck" class = "btn" type = "button" >
      {% blocktrans %} Überprüfen{% endblocktrans %}
    </button>
    <span class = 'hidden'>{% next_button %}</span>
  </div>

{% endblock %}


{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

  <script>
    var answers   = ["0", "0.50", "0.70", "3"];
    var questions = ["q1", "q2", "q3", "q4"];

    function check_answers(i) {
      var qid = "#" + questions[i];
      if ($(qid).prop("type") == "text") {
        var value = $(qid).val().toLowerCase();
      }
      if ($(qid).prop("type") == "radio") {
        var value = $("input:radio[name=q" +(i+1) +"]:checked").val();
      }

      if (value == answers[i]) {
        $(qid).parent('p').css({"color": "#9CBA7F"});       
        $(qid).css("border", "0px");
      } else {
        $(qid).parent('p').css("color", "red");       
        $(qid).css("border", ".5px solid red");
      }
    };

    $("#submitcheck").click( function() {

      var $inputs = $('.rsft-form').find(':checked,:selected,:text,textarea').filter(function() {
            return $.trim( this.value ) != '';
        });
      var arr = $inputs.map(function(){
          return this.value;
      }).get();
      
      var alert_ok = {% blocktrans trimmed %}"Richtig! Weiter geht es mit Klick auf OK."{% endblocktrans %}
      var alert_notok = {% blocktrans trimmed %}"Nicht ganz richtig. Schauen Sie sich die Antworten in den rot markierten Feldern bitte noch einmal an und korrigieren Sie diese. Bitte geben Sie führende Nullen ein (0.10 statt .10).{% endblocktrans %}


      /*.map(Number) transforms the values to numbers*/
      if ( arraysEqual(arr.map(Number), answers.map(Number)) ) {
        alert(alert_ok);
        $('.otree-btn-next').click();
      } else {
        alert(alert_notok);

      for (var i = 0; i < arr.length; ++i) {
        check_answers(i);
      }
    }

    });

    function arraysEqual(a, b) {
      if (a === b) return true;
      if (a == null || b == null) return false;
      if (a.length != b.length) return false;

      for (var i = 0; i < a.length; ++i) {
        if (a[i] !== b[i]) return false;
      }
      return true;
    };

  </script>
{% endblock %}



