<div class = "flex-attribute-container">
          <div class = "attribute-item grey-border">
            <div class = "flex-value-container">
              <div class = "attribute-label"><p>{{ domain_attributes.0 }}</p></div>
              <div class = "value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.0.0 }}
                </p>
               </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.0.1 }}
                </p>
              </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.0.2 }}
                </p>
              </div>
            </div>
          </div>
          <div class = "attribute-item grey-border"> 
            <div class = "flex-value-container">
              <div class = "attribute-label"><p>{{ domain_attributes.1 }}</p></div>
              <div class = "value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.1.0 }}
                </p>
               </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.1.1 }}
                </p>
              </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.1.2 }}
                </p>
              </div>
            </div>
          </div>
          <div class = "attribute-item grey-border">
            <div class = "flex-value-container">
              <div class = "attribute-label"><p>{{ domain_attributes.2 }}</p></div>
              <div class = "value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.2.0 }}
                </p>
               </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.2.1 }}
                </p>
              </div>
              <div class="value-item">
                <div class="value centered"></div>
                <p class = "value-label centered">
                   {{ attribute_value_labels.2.2 }}
                </p>
              </div>
            </div>
          </div>
        </div>